@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minion';
    font-style: normal;
    font-weight: 400;
    src: local('Minion'), url(./assets/minion-pro/MinionPro-Regular.otf) format('otf');
}
@font-face {
    font-family: 'Minion';
    font-style: normal;
    font-weight: 500;
    src: local('Minion'), url(./assets/minion-pro/MinionPro-Medium.otf) format('otf');
}
/* @font-face {
    font-family: 'Minion';
    font-style: normal;
    font-weight: 600;
    src: local('Minion'), url(./assets/minion-pro/MinionPro-Semibold.otf) format('otf');
} */